<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Individual Votes</h1>
      <table id="datatable" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <tbody>
          <thead>
            <tr>
              <th class="search">Object ID</th>
              <th class="no-sort select">Type</th>
              <th class="no-sort search">Created</th>
              <th class="no-sort search">IP</th>
              <th class="no-sort search">Proxy IP</th>
            </tr>
          </thead>
          <tfoot>
          <tr>
            <th class="search">Object ID</th>
            <th class="no-sort select">Type</th>
            <th class="no-sort search">Created</th>
            <th class="no-sort search">IP</th>
            <th class="no-sort search">Proxy IP</th>
          </tr>
          </tfoot>
        </tbody>
      </table>
    </div>
  </div>
</div>