<div class="form hidden">
  <form id="userRegister" enctype="multipart/form-data" class="ws-validate">


    <div class="form-group">
      <label for="name">Name </label>
      <input class="form-control" type="text" name="name">
    </div>

    <div class="form-group">
      <label for="comment">Comment </label>
      <textarea name="comment" class="form-control large" rows="3"></textarea>
    </div>




  </form>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Suggestions</h1>
      <table id="datatable" class="table table-hover table-striped table-bordered" cellspacing="0" width="100%">
        <tbody>
          <thead>
            <tr>
              <th class="no-sort">Options</th>
              <th class="search">ID</th>
              <th class="no-sort search">Name</th>
              <th class="no-sort search">Comment</th>
              <th class="no-sort">Photo</th>
              <th>Likes</th>
              <th>Dislikes</th>
              <th class="no-sort select">Category</th>
              <th class="no-sort select">Type</th>
              <th class="no-sort">Geometry</th>
              <th class="search">Added On</th>
              <th class="no-sort search">IP</th>
              <th class="no-sort search">Proxy IP</th>
            </tr>
          </thead>
          <tfoot>
          <tr>
            <th class="no-sort">Options</th>
            <th class="search">ID</th>
            <th class="no-sort search">Name</th>
            <th class="no-sort search">Comment</th>
            <th class="no-sort">Photo</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th class="no-sort select">Category</th>
            <th class="no-sort select">Type</th>
            <th class="no-sort">Geometry</th>
            <th class="search">Added On</th>
            <th class="no-sort search">IP</th>
            <th class="no-sort search">Proxy IP</th>
          </tr>
          </tfoot>
        </tbody>
      </table>
    </div>
  </div>
</div>