<div class="content-root animated fadeInLeft">
	<div class="content-close">
		<a class="content-close-btn" href="#"><img src="img/content-close.png"></a>
	</div>

	<div class="header-container">
		<div class="child-content">

			<h1>Contact Web Admin</h1>

		    <p>Here's a sample contact page. <a href="mailto:junglee@altaplanning.com">junglee@altaplanning.com</a>.</p>

		    <form id="contact-submit" class="ws-validate">

		      <div class="form-group">
		        <label for="email">Email:</label>
		        <input class="form-control" type="email" name="email" placeholder="Email Address" required>
		      </div>

		      <div class="form-group">
		        <label for="comment">Comment:</label>
		        <textarea name="comment" class="form-control story" rows="5" required></textarea>
		      </div>

		      <div id="status"></div>
		      <input id="submit" class="save" type="submit" value="Send">
		      
		    </form> 


	</div>
</div>