<div class="content-root animated fadeInLeft">
	<div class="content-close">
		<a class="content-close-btn" href="#"><img src="img/content-close.png"></a>
	</div>

	<div class="header-container">
		<div class="child-content">

			<h1>Contact Us</h1>

		    <p>Email us at <a href="mailto:info@test.com">info@test.com</a> or use the form below.</p>

		    <form id="contact-submit" class="ws-validate">

		      <div class="form-group">
		        <label for="email">Email:</label>
		        <input class="form-control" type="email" name="email" placeholder="Email Address" required>
		      </div>

		      <div class="form-group">
		        <label for="comment">Comment:</label>
		        <textarea name="comment" class="form-control story" rows="5" required></textarea>
		      </div>

		      <div id="status"></div>
		      <input id="submit" class="save full" type="submit" value="Send">
		      <a class="btn-primary inline-block content-close-btn step" href="#/step-one">Cancel</a>
		      
		    </form> 


	</div>
</div>