<div class="content-root animated fadeInLeft">
	<div class="content-arrow">
	    <a class="content-arrow-btn" href="#"><img src="img/content-arrow.png"></a>
	</div>

	<div class="header-container">
		<div class="child-content">
			<div class="bar">
				<img src='img/logo.png?ver=alta'>
			</div>

		    <p>Welcome to Alta's public input map demo. Feel free to play around and test out this application.</p>

			<a href="#/step-one/" title="Get Started" class="btn-primary full">Get Started</a>
		</div>

	</div>
</div>