<div class="content-root animated fadeIn">

	<div class="header-container">
		<div class="child-content text-center">
			<div class="large inline-block text-left">
				<div class="bar">
					<a href="http://altaplanning.com" target="_blank"><img src='img/logo.png?ver=alta'></a>
				</div>
				<h1>Public Input Map (Demo)</h1>
			    <p>Welcome to Alta's public input map demo. Feel free to play around and test out this application.</p>

				<a href="#/step-one/" title="Get Started" class="btn-primary">Get Started</a>
			</div>
		</div>

	</div>
</div>