<div class="content-root animated fadeInLeft">
	<div class="content-close">
		<a class="content-close-btn" href="#"><img src="img/content-close.png"></a>
	</div>

	<div class="header-container" id="legend-section">
		<div class="child-content">

			<h1>Map Legend</h1>

			<div class="category">
				<h2>Marker Comments:</h2>

				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/walking.png">
					</div>
					<div class="legend-text">Walking Comment</div>
				</div>

				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/biking.png">
					</div>
					<div class="legend-text">Biking Comment</div>
				</div>

				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/transit.png">
					</div>
					<div class="legend-text">Transit Comment</div>
				</div>

				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/driving.png">
					</div>
					<div class="legend-text">Driving Comment</div>
				</div>

			    <div class="legend">
			    	<div class="legend-image">
			    		<img src="img/legend/parking.png">
			    	</div>
			    	<div class="legend-text">Parking Comment</div>
			    </div>
			</div>

			<div class="category">
				<h2>Route Comments (route needs improvement):</h2>

			    <div class="legend">
					<div class="legend-image">
						<img src="img/legend/legend-walking-route.png">
					</div>
					<div class="legend-text">Walking Comment</div>
				</div>

				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/legend-biking-route.png">
					</div>
					<div class="legend-text">Biking Comment</div>
				</div>

				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/legend-transit-route.png">
					</div>
					<div class="legend-text">Transit Comment</div>
				</div>

				<div class="legend">
					<div class="legend-image">
						<img src="img/legend/legend-driving-route.png">
					</div>
					<div class="legend-text">Driving Comment</div>
				</div>

			    <div class="legend">
			    	<div class="legend-image">
			    		<img src="img/legend/legend-parking-route.png">
			    	</div>
			    	<div class="legend-text">Parking Comment</div>
			    </div>

			</div>



	</div>
</div>