<div class="content-root animated fadeInLeft">
	<div class="content-close">
		<a class="content-close-btn" href="#"><img src="img/content-close.png"></a>
	</div>

	<div class="header-container">
		<div class="child-content">

			<h1>Map Legend</h1>


		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/legend-existing-bike-facility-onstreet.png?ver=3">
		    	</div>
		    	<div class="legend-text">Existing Bike Facilities (On Street)</div>
		    </div>

		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/legend-existing-bike-facility-offstreet.png?ver=3">
		    	</div>
		    	<div class="legend-text">Existing Bike Facilities (Off Street)</div>
		    </div>

		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/legend-funded-bike-facility.png?ver=3">
		    	</div>
		    	<div class="legend-text">Funded Bike Facilities (On & Off Street)</div>
		    </div>

		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/legend-existing-bikerack.png?ver=3">
		    	</div>
		    	<div class="legend-text">Existing Bikeracks</div>
		    </div>
		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/like-bike.png">
		    	</div>
		    	<div class="legend-text">Bicycling Recommendation (User Comment)</div>
		    </div>
		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/like-walk.png">
		    	</div>
		    	<div class="legend-text">Walking Recommendation (User Comment)</div>
		    </div>
		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/bicycling-obstacle.png">
		    	</div>
		    	<div class="legend-text">Bicycling Obstacle (User Comment)</div>
		    </div>
		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/walking-obstacle.png">
		    	</div>
		    	<div class="legend-text">Walking Obstacle (User Comment)</div>
		    </div>

		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/legend-user-suggested-route-bike.png">
		    	</div>
		    	<div class="legend-text">Bicycling Route Needs Improvement (User Route)</div>
		    </div>

		    <div class="legend">
		    	<div class="legend-image">
		    		<img src="img/legend-user-suggested-route-walk.png">
		    	</div>
		    	<div class="legend-text">Walking Route Needs Improvement (User Route)</div>
		    </div>




	</div>
</div>