<div class="content-root animated fadeInLeft">
	<div class="content-close">
		<a class="content-close-btn" href="#"><img src="img/content-close.png"></a>
	</div>

	<div class="header-container" id="legend-section">
		<div class="child-content">

			<h1>Privacy Policy</h1>
			<p>Contact information entered here will be used exclusively for the purposes of sending you information about this project. Your personal information will remain confidential, and will not be sold, rented or otherwise shared with third parties.</p>
			<p><a class="btn-primary inline-block content-close-btn" href="#/step-one">Go back</a></p>

	</div>
</div>