<div class="content-root animated fadeInLeft">

	<div class="content-arrow hidden">
		<a href="#"><img src="img/content-arrow.png"></a>
	</div>
	<div class="header-container">

	    <h1>Tell Us Where</h1>

	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

		<a href="/#/step-two/" class="btn-primary add-marker">Add marker</a>
		<a href="/#/step-two/" class="btn-primary add-route">Draw route</a>

	</div>
</div>