<div class="content-root animated fadeInLeft">
	<div class="header-container">

		<div class="child-content">

			<div class="content-arrow">
				<a href="#"><img src="img/content-arrow.png"></a>
			</div>

		    <h1>Thank You!</h1>

		    <p>Your suggestion has been added! Here we can further engage the user and continue the discussion.</p>

		    <a href="#/step-one/" class="btn-primary add-marker">Add Another Comment</a>
		    <a href="#/updates/" class="btn-primary add-route">Sign Up For Updates</a>
		    <a href="https://www.facebook.com/altaplanning/" target="_blank" class="btn-primary add-route">Check Us Out On Facebook</a>

		</div>


	</div>
</div>