<div class="content-root animated fadeInLeft">
	<div class="header-container">

	    <h1>Tell Us Why</h1>

	    <p>What are you reporting? You can still move your suggestion around to fine-tune its location.</p>

	    <form id="suggestion-submit" class="ws-validate">

	      <div class="form-group">
	        <label for="name">Name: <span class="required-icon"></span></label>
	        <input class="form-control" type="text" name="name" placeholder="name" required>
	      </div>

	      <div class="form-group">
	        <label for="comment">Comment<span class="story-min"> (<span class="story-word">0</span>/500 characters)</span>:</label>
	        <textarea name="comment" class="form-control story" rows="5" required></textarea>
	      </div>

	      <div id="status"></div>
	      <input id="submit" class="save" type="submit" value="Save">
	      
	    </form> 

	</div>
</div>