<div class="marker-input hidden">
	<div class="content-edit edit-cancel">
		<div class="content-edit-img"><img src='img/cancel.png'></div>
		<div class="content-edit-text">Cancel Drawing</div>
	</div>
</div>
<div class="route-input hidden">
	<div class="content-edit edit-cancel">
		<div class="content-edit-img"><img src='img/cancel.png'></div>
		<div class="content-edit-text">Cancel Drawing</div>
	</div>
	<div class="content-edit edit-backspace">
		<div class="content-edit-img"><img src='img/backspace.png'></div>
		<div class="content-edit-text">Delete Last Point</div>
	</div>
	<div class="content-edit edit-finish">
		<div class="content-edit-img"><img src='img/checked.png'></div>
		<div class="content-edit-text">Finish Drawing</div>
	</div>
</div>

<div class="content-root animated fadeInLeft">

	<div class="content-arrow">
		<a href="#"><img src="img/content-arrow.png"></a>
	</div>


	<div class="header-container">
		<div class="child-content">
		    <h1>Add Something!</h1>

		    <p>Adding markers or routes on the map is easy! Choose one of the options below to continue.</p>


			<a href="#/add-feature/" class="btn-primary add-marker">Add Point</a>
			<a href="#/add-feature/" class="btn-primary add-route">Draw Route</a>
		</div>

	</div>
</div>