<div class="content-root animated fadeInLeft">

	<div class="content-arrow">
		<a href="#"><img src="img/content-arrow.png"></a>
	</div>


	<div class="header-container">
		<div class="child-content">
		    <h1>Add Something!</h1>

		    <p>Adding markers or routes on the map is easy! Choose one of the options below to continue.</p>


			<a href="#/step-two/" class="btn-primary add-marker">Add Point</a>
			<a href="#/step-two/" class="btn-primary add-route">Draw Route</a>
		</div>

	</div>
</div>