# RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<Files ~ "\.sqlite$">
    Order allow,deny
    Deny from all
</Files>

Options -Indexes